.todo{
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: #f5fbfa ;
    border-left: 8px solid #00b29c;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    width: 400px;
    box-sizing: border-box ;
}